<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security5" lang="en">
 <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ottawa Library System</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/js/bootstrap/css/bootstrap.min.css}" href="../../js/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/heroic-features.css}"
	href="../../css/heroic-features.css" />
    <link rel="stylesheet" th:href="@{/css/app.css}"
	href="../../css/app.css" />  
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Ottawa Library System</a>
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
        
          <ul class="navbar-nav ml-auto">
           <li class="nav-item active">
              <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
              </a>
            </li>
            <li sec:authorize="hasAuthority('admin')">
            	<a class="nav-link" href="/admin/sections">Sections
            	<span class="sr-only">(current)</span>
            	</a>
            </li>
            <li sec:authorize="hasAuthority('admin')">
            	<a class="nav-link" href="/admin/books">Books
            	<span class="sr-only">(current)</span>
            	</a>
            </li>
            <li sec:authorize="hasAuthority('admin')">
            	<a class="nav-link" href="/users">Users
            	<span class="sr-only">(current)</span>
            	</a>
            </li>
            <li sec:authorize="hasAuthority('admin')">
            	<a class="nav-link" href="/admin/issue">Issue
            	<span class="sr-only">(current)</span>
            	</a>
            </li>
            <li sec:authorize="hasAuthority('admin')">
            	<a class="nav-link" href="/admin/lost/copies">Lost Copies
            	<span class="sr-only">(current)</span>
            	</a>
            </li>
          </ul>
          
        </div>
 <form class="navbar-form navbar-left" action="/admin/searchBooks">
  <div class="input-group">
    <input type="text" id="bookName" name="bookName" class="form-control" placeholder="Search">
    <div class="input-group-btn">
    </div>
  </div>
</form>
 <span class="nav-link" sec:authorize="isAuthenticated()">
                | <span  sec:authentication="name"></span> |
                <a th:href="@{/logout}"> Sign Out</a>
            </span>
 </div>
</nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">A Warm Welcome!</h1>
        <p class="lead">
Find thousands of books to read. Discover and read free books by renowned authors as well as tons of classic books. Browse categories to find your favorite literature genres: Romance, Fantasy, Thriller, Short Stories, Young Adult and Children’s Books… There are Books for everyone..</p>
        <a href="/search" class="btn btn-primary btn-lg">Search Now</a>
      	<span>Or check our featured books below</span>
      </header>

      <!-- Page Features -->
      <div class="row text-center">

            <div th:each="book : ${books}" class="col-lg-3 col-md-6 mb-4">
          <div class="card">
          <p class="card-text" th:text="'ISBN : ' + ${book.isbn}"></p>
            <!-- img class="card-img-top" src="http://placehold.it/500x325" alt="">  -->
            <div class="card-body">
              <h4 class="card-title" th:text="${book.bookName}"></h4>
              <p class="card-text" th:text="${book.description}"></p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">More Details!</a>
            </div>
          </div>
        </div>
      <!-- /.row -->

    </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Ottawa Library System 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../../js/jquery/jquery.min.js"></script>
    <script src="../../js/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
</html>